@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --background-main-color: #E4E9F2;
    --font-color: #070A40;
    --featured-color: #3321A6;
    --details-color: #04D9B2;
    --extra-color: #2D4BA6;
}

body {
    background-color: #436ce6;
    background-attachment: fixed;
    font-family: "Poppins", sans-serif;
}



